<h3>Wallet</h3>
@page "/wallet"
@using Endava.TechCourse.BankApp.Shared;
@using MudBlazor
@inject HttpClient HttpClient

<PageTitle>All wallets</PageTitle>


<br />
<br />

<MudTable Items="@wallets">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Type</MudTh>
        <MudTh>Amount</MudTh>
        <MudTh>Currency</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTh>@context.Id</MudTh>
        <MudTd>@context.Type</MudTd>
        <MudTd>@context.Amount</MudTd>
        <MudTd>@context.Currency</MudTd>

    </RowTemplate>
</MudTable>

@code {
    private List<WalletDTO> wallets;

    protected override async Task OnInitializedAsync()
    {
        wallets = await HttpClient.GetFromJsonAsync<List<WalletDTO>>($"/api/wallet/getWallets");
    }
}